absl-py==2.3.1
accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-cors==0.8.1
aiosignal==1.4.0
aiter==0.1.7.post5.dev1+g6af8b6874
amdsmi @ file:///install/amdsmi-26.0.0%2B37d158ab-py3-none-any.whl#sha256=d20e04f0d8917edbf8be5e85976f979b15456c612e56cce78b8622163252498b
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
astor==0.8.1
attrs==25.4.0
blake3==1.0.8
blinker==1.4
boto3==1.40.73
botocore==1.40.73
cachetools==6.2.2
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.2.1
cloudpickle==3.1.2
cmake==3.31.6
codetiming==1.4.0
colorful==0.5.8
compressed-tensors==0.13.0
conch-triton-kernels==1.2.1
cryptography==3.4.8
cupy-cuda12x==13.6.0
Cython==3.1.6
datasets==4.4.1
dbus-python==1.2.18
depyf==0.20.0
dill==0.4.0
diskcache==5.6.3
distlib==0.4.0
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.8.0
docstring_parser==0.17.0
einops==0.8.1
email-validator==2.3.0
fastapi==0.121.2
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
fastrlock==0.8.3
filelock==3.20.3
flash_attn @ file:///install/flash_attn-2.8.3-cp312-cp312-linux_x86_64.whl#sha256=95ef8d42fbfc5f008acc179a114338c71bc27411f9406c885889953c6197ebea
frozenlist==1.8.0
fsspec==2026.1.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.45
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.188.0
google-auth==2.43.0
google-auth-httplib2==0.3.0
google-cloud-core==2.5.0
google-cloud-storage==3.5.0
google-crc32c==1.7.1
google-generativeai==0.8.6
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-reflection==1.76.0
grpcio-status==1.71.2
grpcio-tools==1.76.0
h11==0.16.0
hf-xet==1.2.0
hiredis==3.3.0
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanize==4.14.0
hydra-core==1.3.2
identify==2.6.16
idna==3.11
ijson==3.4.0.post0
importlib_metadata==8.7.0
iniconfig==2.3.0
interegular==0.3.3
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==23.5.0
lark==1.2.2
latex2sympy2==1.5.4
latex2sympy2_extended==1.10.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libnacl==2.1.0
liger_kernel==0.6.3
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
loguru==0.7.3
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
math-verify==0.8.0
mcp==1.26.0
mdurl==0.1.2
mistral_common==1.9.0
model-hosting-container-standards==0.1.13
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.18
networkx==3.6.1
ninja==1.13.0
nodeenv==1.10.0
numba==0.61.2
numpy==1.26.4
oauthlib==3.2.0
omegaconf==2.3.0
openai==2.8.0
openai-harmony==0.0.8
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.13.0.90
opentelemetry-api==1.38.0
opentelemetry-exporter-prometheus==0.59b0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
orjson==3.11.4
outlines_core==0.2.11
packaging==25.0
pandas==2.3.3
partial-json-parser==0.2.1.1.post6
peft==0.18.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pre_commit==4.5.1
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.5
psutil==7.1.3
py-cpuinfo==9.0.0
py-spy==0.4.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pycountry==24.6.1
pycparser==2.23
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.11.0
pylatexenc==2.10
pyparsing==2.4.7
pytest==8.4.2
pytest-asyncio==1.3.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
pyvers==0.1.0
PyYAML==6.0.3
pyzmq==27.1.0
ray==2.51.1
redis==7.0.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.6
rpds-py==0.28.0
rsa==4.9.1
runai-model-streamer==0.15.3
runai-model-streamer-gcs==0.15.3
runai-model-streamer-s3==0.15.3
s3transfer==0.14.0
safetensors==0.6.2
scipy==1.16.3
SecretStorage==3.3.1
sentencepiece==0.2.1
sentry-sdk==2.44.0
setproctitle==1.3.7
setuptools==80.10.2
setuptools-scm==9.2.2
shellingham==1.5.4
six==1.17.0
-e git+https://github.com/THUDM/slime.git@50072587ca29501cf9632e0f97e445c1579859f1#egg=slime
smart_open==7.5.0
smmap==5.0.2
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
sse-starlette==3.2.0
starlette==0.49.3
supervisor==4.3.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensordict==0.10.0
tensorizer==2.10.1
tiktoken==0.12.0
timm==1.0.22
tokenizers==0.22.1
torch @ file:///install/torch-2.9.0a0%2Bgit1c57644-cp312-cp312-linux_x86_64.whl#sha256=7b67e12b9235c047499d71425fce04662ffd33c1e38545d312c9a087be35a179
torchdata==0.11.0
torchvision @ file:///install/torchvision-0.23.0a0%2B824e8c8-cp312-cp312-linux_x86_64.whl#sha256=91127225ff7cff76f43ef4db765c3e1b17cd3193febf574397b9b688a747879d
tqdm==4.67.1
transformers==4.57.1
triton==3.4.0
triton_kernels @ file:///install/triton_kernels-1.0.0-py3-none-any.whl#sha256=881b08d0909395f37a5bb8607f81e349403b56af0ef5aeb59c96b5cdcc6eae43
trl==0.27.0
typer==0.20.0
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
unattended-upgrades==0.1
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
-e git+https://github.com/lasgroup/SDPO.git@519a2572ed0271b9d02bdaaf18dc03b761b798f4#egg=verl
virtualenv==20.35.4
vllm==0.15.0+rocm700
wadllib==1.3.6
wandb==0.23.0
watchfiles==1.1.1
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
word2number==1.1
wrapt==2.0.1
xgrammar==0.1.29
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
